* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  gap: 5px;
  background: linear-gradient(to bottom right, #2048ca, #6f6f86, #12b9be);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

lineup-component {
  height: 600px;
  margin-bottom: 75px;
}

corner-component {
  height: 170px;
}

goal-component {
  height: 148px;
}

poll-component {
  height: 148px;
}

stats-component {
  height: 291px;
}

@media (min-width: 560px) {
  main {
    display: grid;
    width: 100%;
    gap: 30px;
    min-height: max-content;
    grid-template-columns: repeat(2, 50%);
  }

  video-carrousel-component {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  goals-component {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  poll-component {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  corner-component {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  stats-component {
    grid-column: 1 / 2;
    grid-row: 6 / 9;
  }

  lineup-component {
    grid-column: 2 / 3;
    grid-row: 4 / 7;
    width: 493px;
  }
}
@media (min-width: 900px) {
  body {
    align-items: center;
    justify-content: space-between;
  }
  header-component {
    width: 100%;
    height: 50px;
    min-height: 50px;
  }
  main {
    max-width: 1000px;
  }
}
